    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
    

    .heatMapButton {
        display: none;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        background-color: #3498db;
        color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: 'Inter';
        width: 100%;
    }

    .heatMapButton:active {
        transform: scale(0.98);
    }

    .heatMapButton2 {
        display: none;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        background-color: #c23de7;
        color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: 'Inter';
        width: 100%;
    }

    .heatMapButton2:active {
        transform: scale(0.98);
    }

    .gon-icon-button {
        margin-left: 10px;
        width: 20px; /* Adjust width as needed */
        height: 20px; /* Adjust height as needed */
        border: none;
        background: none; /* Remove background color */
        color: rgb(174, 174, 174); /* Icon color */
        cursor: pointer;
        transition: color 0.3s, transform 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .gonRadioItem {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .gonRadio {
        margin-bottom: 5px;
    }

    .gon-radio-container {
        border: 1px solid #ccc;
        border-radius: 7px;
        padding: 20px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #progressBarContainer {
        display: none; 
        width: 100%; 
        background-color: rgb(241, 241, 241);
        margin-top: 10px;
        border-radius: 5px;
    }

    #progressBar {
        width: 0%; 
        height: 30px; 
        background-color: rgb(2, 202, 2);
        border-radius: 5px;
    }

    .icons-wrapper {
        display: flex;
        align-items: center;
        gap: 10px; /* Space between the icons */
    }
    
    .toggle-icon {
        cursor: pointer;
        color: #888;
        font-size: 1em;
        transition: color 0.3s ease;
    }
    
    .toggle-icon.tracking-on {
        color: #007bff; /* Green color for tracking on */
    }
    
    .toggle-icon.tracking-off {
        color: #d6d6d6; /* Grey color for tracking off */
    }
    
    .toggle-icon:hover {
        color: #007bff; /* Blue color on hover */
    }
    
    #savedDistancesContainer {
        margin-top: 20px;
        background-color: #fffffff0;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 0px 2px rgba(0,0,0,0.3);
    }

    #savedDistancesContainer.has-items {
        padding-bottom: 10px;
    }

    #savedBisectorsContainer {
        margin-top: 20px;
        background-color: #fffffff0;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 0px 2px rgba(0,0,0,0.3);
        margin-bottom: 20px;
    }

    #savedBisectorsContainer.has-items {
        padding-bottom: 10px;
    }

    #savedZRegionsContainer {
        margin-top: 20px;
        background-color: #fffffff0;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 0px 2px rgba(0,0,0,0.3);
        margin-bottom: 10px;
    }

    #savedZRegionsContainer.has-items {
        padding-bottom: 10px;
    }
    
    #savedDistancesList {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #savedBisectorsList {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #savedZRegionsList {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .saved-distance-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #ffffff;
        border-bottom: 1px solid #e0e0e0;
    }

    .saved-distance-item:not(:last-child) {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .saved-distance-item:last-of-type {
        border-bottom: none;
    }

    .saved-distance-item:first-of-type {
        margin-top: 10px;
    }
    
    .saved-distance-item .katex {
        font-size: 1em;
    }

    #calculateIntersectionButton {
        display: none;
    }

    .bisector-checkbox {
        margin-right: 5px;
    }
    
    .delete-icon {
        cursor: pointer;
        color: #d6d6d6;
        font-size: 1em;
        padding: 5px;
        transition: color 0.3s ease;
    }
    
    .delete-icon:hover {
        color: #dc3545;
    }

    .context-menu {
        list-style: none;
        padding: 5px;
        margin: 0;
        background: white;
        color: black;
        position: absolute;
        z-index: 10000;
        display: none;
        transition: 0.3s;
        border-radius: 0.5em; /* Increased rounding */
        user-select: none;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
        width: auto;
    }
    
    .context-menu-item {
        padding: 0.5em 1em;
        cursor: pointer;
        border-radius: 0.5em;
        font-size: 14px;
    }
    
    .context-menu-item:last-child {
        border-bottom: none;
        border-radius: 0.5em;
    }
    
    .context-menu-item:first-child {
        border-bottom: none;
        border-radius: 0.5em;
    }
    
    .context-menu-item:hover {
        background: #efefef;
    }
    
    .context-menu-open {
        display: block;
        opacity: 1;
    }

    .infoBox {
        position: fixed;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        pointer-events: all;
        font-size: 12px;
        color: black;
        transform: translate(-50%, -100%); /* Center horizontally and position above the point */
        cursor: move;
      }
      
      #infoBoxContainer {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
      }

    .distance-card {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: white;
        border: none;
        padding: 20px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        z-index: 9999;  /* This ensures it's on top of other elements */
        box-shadow: 0 2px 8px rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    
    .labelInput {
        border: none;
        color: rgb(0, 0, 0);
        width: auto; /* Change from 50% to auto */
        min-width: 20px; /* Set a minimum width */
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        outline: none; /* Remove the highlight border */
    }

    .labelInput::placeholder {
        color:lightgray;
    }

    .file-name-display {
        display: block;
        font-size: 14px;
        color: #555;
        font-family: 'Inter', sans-serif;
    }
    
    .json-container-restore {
        position: relative;
        margin-bottom: 15px;
    }
    
    #uploadJsonButton {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        transition: color 0.3s;
    }
    
    #uploadJsonButton:hover {
        color: #000;
    }

    .mini-modal {
        display: none;
        position: fixed;
        z-index: 1001;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .file-name-modal-content {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        width: 250px;
        font-family: 'Inter', sans-serif;

        margin: 15% auto;
        border: 1px solid #888;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 30px 20px 20px; /* Increased top padding */
        bottom: 150px;
    }

    .file-name-modal-content h2 {
        margin: 0 0 15px 0;
        font-size: 18px;
        color: #333;
    }

    #fileNameInput {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        box-sizing: border-box;
    }

    #confirmDownloadButton {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    #confirmDownloadButton:hover {
        background-color: #45a049;
    }

    .restore-button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        box-sizing: border-box;
        font-family: 'Inter';
        font-weight: 700;
    }

    .restore-button:hover {
        background-color: #45a049;
    }

    .json-content {
        padding: 15px;
        margin: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-height: 100%; /* Set max-height to 100% of the container */
        overflow-y: auto; /* Enable vertical scrolling */
        scrollbar-width: none;
        font-family: monospace;
        font-size: 14px;
    }

    .json-container-restore {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 350px;
    }

    .json-container-download {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f8f8f8;
        width: 100%;
        height: 400px; 
        overflow: hidden; 
    }

    .json-input {
        width: 100%;
        height: 250px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-family: monospace;
        font-size: 14px;
        resize: none;
        box-sizing: border-box;
        scrollbar-width: none;
    }

    .download-button-container {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .copy-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        transition: color 0.3s;
    }

    .copy-button:hover {
        color: #000;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 600px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        font-family: 'Inter';
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 30px 20px 20px; /* Increased top padding */
        bottom: 150px;
    }

    .modal-content h2 {
        width: 100%;
        text-align: center;
        padding-right: 20px; /* Add this line */
        box-sizing: border-box; /* Add this line */
    }

    .close-button, .file-close-button, .upload-close-button {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 15px;
        line-height: 1;
    }

    .close-button:hover,
    .close-button:focus,
    .file-close-button:hover,
    .file-close-button:focus,
    .upload-close-button:hover,
    .upload-close-button:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .download-option:hover {
        background-color: #45a049;
    }
    
    .icon-button {
        margin-left: 10px;
        width: 30px; /* Adjust width as needed */
        height: 30px; /* Adjust height as needed */
        border: none;
        background: none; /* Remove background color */
        color: rgb(174, 174, 174); /* Icon color */
        cursor: pointer;
        transition: color 0.3s, transform 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .icon-button i {
        pointer-events: none;
        font-size: 20px;
    }

    .icon-button:active {
        transform: scale(0.90);
    }

    .clear-button {
        margin-left: 10px;
        width: 20px; /* Set a fixed width */
        height: 20px; /* Set a fixed height */
        border: none;
        background-color: #ff6b6b;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s ease, color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30%; /* Make it circular */
        padding-top: 2px;
    }

    .clear-button i {
        pointer-events: none;
    }

    .clear-button:active {
        transform: scale(0.97);
    }
    
    #insertSiteButton {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #b987ff; /* Light purple */
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s ease, color 0.2s ease;
        font-weight: bold;
    }

    #insertSiteButton:active {
        transform: scale(0.97);
    }

    #insertSiteButton:hover {
        background-color: #b28ae6; /* Slightly darker purple for hover */
    }

    #insertSiteButton:active {
        background-color: #a07ad6; /* Even darker purple for active */
    }

    .insert {
      display: block;
      font-weight: 500;
      font-size: 14px;
    }
    
    .color-dot {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
    }

    /* This ensures that the color picker shows the color properly */
    .color-dot::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    .color-dot::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
        padding: 0;
    }

    .color-dot::-moz-color-swatch {
        border: none;
        border-radius: 50%;
        padding: 0;
    }

    .dropdown {
        position: relative;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dropdown .select {
        background: rgb(245, 245, 245);
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px; /* Increased rounding */
        padding: 0.5em 1em;
        cursor: pointer;
        transition: background 0.3s, border-radius 0.3s;
        width: 100%;
        margin-bottom: 5px;
    }

    .select-clicked {
        border-bottom-left-radius: 0; /* Remove bottom left radius */
        border-bottom-right-radius: 0; /* Remove bottom right radius */
    }

    .caret {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000; /* Change this to your desired color */
      transition: 0.3s;
    }

    .caret-rotate {
        transform: rotate(180deg);
    }

    .menu {
        list-style: none;
        padding: 5px;
        margin: 0;
        background: white;
        color: black;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;
        transition: 0.3s;
        border-radius: 0.5em; /* Increased rounding */
        user-select: none;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    }

    .menu li {
        padding: 0.5em 1em;
        cursor: pointer;
        border-radius: 0.5em;
        font-size: 14px;
    }

    .menu li:last-child {
        border-bottom: none;
        border-radius: 0.5em;
    }

    .menu li:first-child {
        border-bottom: none;
        border-radius: 0.5em;
    }

    .menu li:hover {
        background: #efefef;
    }

    .menu-open {
        display: block;
        opacity: 1;
    }
    
    body {
        margin: 0;
        height: 100vh;
        font-family:  'Inter';
        font-weight: 400;
        color: #444;
        display: flex;
        background-color: white;
        overflow-x: hidden;
    }

    #sidebar {
        width: 310px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        backdrop-filter: blur(10px);
        z-index: 2;
    }

    /* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
    #sidebar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge, and Firefox */
    #sidebar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    /* Ensure the sidebar is scrollable */
    #sidebar {
        overflow-y: scroll;
    }

    #canvasContainer {
        flex-grow: 1;
        position: relative;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

    canvas {
        background-color: #ffffff;
        user-select: none;
        -webkit-user-select: none; /* Chrome, Safari, Opera */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }

    .select-program {
      display: block;
      font-weight: 500;
      font-size: 14px;
      margin: 10px;
    }

    .polygon-setting-card {
        background-color: #ffffff;
        padding: 10px;
    }

    .polygon-setting-card label {
        display: block;
        font-weight: 500;
        font-size: 14px;
    }

    .polygon-setting-card input[type="color"] {
        -webkit-appearance: none;
        appearance: none;
        padding: 7px;
        border: none;
        width: 100%;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
        overflow: hidden;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
    }

    .polygon-setting-card input[type="color"]:active {
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
        transform: scale(0.95);
    }

    .setting-card label {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .setting-card input, .setting-card select {
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    #reset {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #ff6b6b;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s ease, color 0.2s ease;
        font-weight: bold;
    }

    #reset:active {
        transform: scale(0.97);
    }

    .setting-card button:hover {
        background-color: #ff4b4b;
    }

    .setting-card button:active {
        background-color: #d9534f;
    }

    .setting-card input[type="color"] {
        -webkit-appearance: none;
        appearance: none;
        padding: 7px;
        border: none;
        width: 100%;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
        overflow: hidden;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    }

    .setting-card input[type="color"]:active {
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
        transform: scale(0.95);
    }

    .setting-card #radius {
        cursor: pointer;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 34px;
        margin-bottom: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(216, 108, 255);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    
    .toggle-text {
        font-size: 14px;
        font-weight: bold;
        color: white;
        transition: opacity 0.5s ease;
    }
    
    .toggle-text.on {
        color: #fff;
        display: none;
        justify-content: flex-end;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
        justify-content: flex-start;
    }
    
    input:not(:checked) + .slider {
        justify-content: flex-end;
    }
    
    input:checked + .slider .toggle-text.on {
        display: block;
    }
    
    input:checked + .slider .toggle-text.off {
        display: none;
    }
    
    input:checked + .slider:before { 
        transform: translateX(116px);
    }

    input[type=number] {
        width: 80px;
        padding: 5px;
        border: 2px solid #ddd;
        border-radius: 5px;
        outline: none;
    }

    input[type=number]:focus {
      border-color: #2196F3;
    }

    .reset-icon {
      color: #2196F3;
      cursor: pointer;
      margin-left: 10px;
      transition: transform 0.2s ease, color 0.2s ease;
    }

    .reset-icon:hover {
      color: #1e88e5;
    }

    .reset-icon:active {
      transform: scale(0.9);
      color: #0d47a1;
    }

    .collapsible {
        background-color: #fff;
        color: #444;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        border-radius: 5px;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
        font-weight: 500;
    }

    .collapsible-header {
        padding: 18px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .plus-minus-icon {
        font-weight: bold;
        font-size: 20px;
        color: #777;
        user-select: none; /* Prevent text selection */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
    }

    .collapsible.active .plus-minus-icon {
        content: "\2212"; /* Unicode for minus sign */
    }

    .collapsible.active .collapsible-header, .collapsible:hover .collapsible-header {
        background-color: white;
        user-select: none; /* Prevent text selection */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
    }

    .collapsible-header:after {
        display: none; /* Hide the original plus-minus icon */
    }
    
    .collapsible .plus-minus-icon {
        position: relative;
        width: 10px;
        height: 10px;
        display: inline-block;
    }
    
    .collapsible .plus-minus-icon::before,
    .collapsible .plus-minus-icon::after {
        content: '';
        position: absolute;
        background-color: #333; /* Adjust color as needed */
        transition: transform 0.3s ease;
    }
    
    .collapsible .plus-minus-icon::before {
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
    }
    
    .collapsible .plus-minus-icon::after {
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        transform: translateX(-50%);
    }
    
    .collapsible.active .plus-minus-icon::before {
        transform: translateY(-50%) rotate(180deg);
    }
    
    .collapsible.active .plus-minus-icon::after {
        transform: translateX(-50%) rotate(90deg);
    }

    .content {
        padding: 15px;
        padding-top: 20px;
        display: none;
        overflow: hidden;
        background-color: #fff;
        font-size: 13px;
        border-top: 1px solid rgba(0, 0, 0, 0.1); /* Add bottom border */
        border-radius: 0 0 8px 8px;
    }

    .collapsible.active .content {
        display: block;
    }
